body { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    overflow: hidden;
}

.heart {
    position: absolute;
    top: -20px;
    color: #ffd5ed;
    animation: raining 5s linear infinite;
    z-index: -1;
}

.heart::before {
    content: '\f004';
    font-family: fontAwesome;
    text-shadow: 0 0 5px #ffd5ed, 0 0 20px #ffd5ed, 0 0 50px #ffd5ed;
}

@keyframes raining{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(100vh) rotate(360deg);
        opacity: 0.2;
    }
}
