body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    overflow-y: scroll;
    height: auto;
}

.heart {
    position: absolute;
    top: -20px;
    color: #ffd5ed;
    animation: raining 5s linear infinite;
    z-index: -1;
}

.heart::before {
    content: '\f004';
    font-family: fontAwesome;
    text-shadow: 0 0 5px #ffd5ed, 0 0 20px #ffd5ed, 0 0 50px #ffd5ed;
}

@keyframes raining{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(100vh) rotate(360deg);
        opacity: 0.2;
    }
}

.counter {
    position: fixed;             
    top: 10px;                   
    right: 10px;                 
    display: flex;               
    flex-direction: column;      
    align-items: center;         
}

.circle-container {
    display: flex;           
    justify-content: center; 
    align-items: center;     
    flex-wrap: nowrap;       
    margin-top: 5px;         
}

.circle {
    width: 12vw;              
    height: 12vw;             
    max-width: 80px;          
    max-height: 80px;         
    border-radius: 50%;       
    background-color: white;   
    border: 5px solid #ffd5ed; 
    box-shadow: 0 4px 15px #ffd5ed; 
    margin: 5px;               
    display: flex;             
    flex-direction: column;    
    justify-content: center;   
    align-items: center;       
    text-align: center;        
    transition: transform 0.2s; 
    
}

.circle:hover {
    transform: scale(1.1);    
}

span:first-child {
    font-weight: bold;     
    font-size: 1vw;        
    color: #feb2dd;       
}

span:last-child {
    font-size: 1.5vw;      
    color: #ffffff;       
    text-shadow: 
        1px 1px 0px #feb2dd,   
        -1px -1px 0px #feb2dd, 
        1px -1px 0px #feb2dd,  
        -1px 1px 0px #feb2dd,  
        0px 0px 3px #feb2dd;   
}

.counter-title {
    color: #feb2dd;        
    font-size: 1.5rem;      
    text-align: center;     
    margin-bottom: 5px;     
    
}


@media (max-width: 600px) {
    .circle {
        width: 18vw;          
        height: 18vw;          
        max-width: 70px;       
        max-height: 70px;      
    }

    span:first-child {
        font-size: 4vw;        
    }

    span:last-child {
        font-size: 4vw;        
    }

}

.sidebar {
    position: fixed;              
    bottom: 10px;                 
    left: 10px;                   
    background-color: transparent;
    padding: 5px;                 
    border-radius: 10px;          
    display: flex;                
    flex-direction: column;       
    gap: 15px;                    
}

.sidebar-button {
    background-color: white;      
    color: #feb2dd;               
    border: 4px solid #ffd5ed;    
    border-radius: 20px;           
    padding: 10px 20px;            
    cursor: pointer;               
    transition: background-color 0.3s; 
    font-family: 'Comic Sans MS', Arial, Helvetica; 
    
}

.sidebar-button:hover {
    background-color: #ffd5ed; 
    color: white;              
}

.love-message {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 600px;            
    max-width: 100%;         
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    color: #feb2dd;
    margin: 20px auto;       
    display: flex;          
    justify-content: center;
    align-items: center;    
    margin-top: 15vh;       
}


.love-message p {
    font-size: 1.5rem;                                   
    font-family: 'Comic Sans MS', Arial, Helvetica;  
    color: #feb2dd;                                     
   
}

.love-message ul {
    font-size: 1.5rem;                                   
    font-family: 'Comic Sans MS', Arial, Helvetica;   
    color: #feb2dd;                                     
   
}

.dummy-content {
    height: 1500px;                  
}

.text-image-container {
    position: relative;   
    width: 800px;         
    max-width: 100%;      
    margin: 15vh auto;     
    text-align: center;   
}

.overlay-image {
    display: block;       
    margin: 2vh auto;     
    max-width: 100%;      
    width: 100%;          
    height: auto;         
    opacity: 0.7;         
}

.text-image-container:first-child .overlay-image {
    margin-top: 10vh;       
}

.text-image-container .overlay-image {
    margin-bottom: 3vh;    
}

#mikayo-image{
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -125vw;
    right: 0vw;
    transform: rotateY(180deg);
    z-index: 100;
}

.tab {
    background-color: transparent;
    border: none;                 
    padding: 20px;                
    margin: 20px auto;            
    max-width: 600px;             
    color: #feb2dd;              
}

.to-do {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 600px;            
    max-width: 100%;         
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    color: #feb2dd;
    margin: 20px auto;      
    display: flex;          
    justify-content: center;
    align-items: center;    
    margin-top: 15vh;       
}

.to-do p {
    font-size: 3.5rem;                                    
    font-family: 'Comic Sans MS', Arial, Helvetica;    
    color: #feb2dd;                                      
}

.to-do ul {
    font-size: 1.5rem;                                    
    font-family: 'Comic Sans MS', Arial, Helvetica;    
    color: #feb2dd;                                      
}

.to-do li {
    font-size: 1.5rem;                                    
    font-family: 'Comic Sans MS', Arial, Helvetica;
    color: #feb2dd;    
}

.kitty {
    position: fixed;
    width: 128px;
    height: 96px;
    bottom: 0;
    left: -60px;
    animation: run 8s linear infinite;
    -moz-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    user-select: none;
    z-index: 101;
}

@keyframes run{
    0%{
        left: -15%;
    }
    100%{
        left: 200%;
    }
}

.countdown-container {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: white;
    border: 2px solid #feb2dd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Comic Sans MS', Arial, Helvetica;
    font-size: 1.1rem;
    color: #feb2dd;
}

.countdown {
    position: fixed;            
    top: 15px;                  
    left: 10px;                 
    display: flex;              
    flex-direction: column;     
    align-items: center;        
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 5px;
}

.circle {

    width: 10vw;
    height: 10vw;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid #ffd5ed;
    box-shadow: 0 4px 15px #ffd5ed;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.2s;
}

.circle:hover {
    transform: scale(1.1);
}

.counter-title {
    color: #feb2dd;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 5px;
}


.password-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

.password-box {
    text-align: center;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.password-box h2 {
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin-bottom: 20px;
}

.password-box input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.password-box button {
    background-color: #ff007f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.password-box button:hover {
    background-color: #d9006f;
}

.password-box input:focus {
    outline: none;
    border-color: #ff007f;
}


.content {
    display: none;
}


.show-content .content {
    display: block;
}

.show-content .password-screen {
    opacity: 0;
    pointer-events: none;
}

a { color: inherit; } 

.message-content {
    background: none;             
    border: none;                 
    box-shadow: none;             
    padding: 0;                   
    margin: 0 auto;               
    margin-top: 20px;             
    max-width: 90%;               
}

.messages-header {
    text-align: center;           
    margin-bottom: 10px;          
}

.messages-header select {
    margin-top: 10px;             
    margin-bottom: 20px;          
    padding: 10px;                
    font-size: 16px;              
    border: 2px solid #ffd5ed;   
    border-radius: 10px;          
    background-color: #ffffff;   
    color: #feb2dd;              
    cursor: pointer;              
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
}

.message-content {
    margin-top: 20px;         
}


.messages-header h2 {
    margin: 0;                      
    font-size: 1.8rem;              
    color: #feb2dd;                
}

#messageDropdown {
    margin: 0;                     
    padding: 10px;                 
    font-size: 16px;               
    border: 2px solid #ffd5ed;     
    border-radius: 10px;           
    background-color: #ffffff;     
    color: #feb2dd;               
    cursor: pointer;               
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}


.message-content p {
    font-size: 1.2rem;              
    margin-bottom: 15px;            
    color: #feb2dd;                
}

#mikayo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; 
    z-index: -1; 
}

.tab {
    transition: opacity 1s ease; 
}

.tab.active {
    opacity: 1;
    pointer-events: auto;
}

.tab.inactive {
    opacity: 0;
    pointer-events: none;
}
